@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #7D21D4;
  --color-secondary: #A594F9;
  --color-light: #FFFFFF;
  --color-dark: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-light: #000000;
    --color-dark: #FFFFFF;
  }
}

body {
  color: var(--color-dark);
  background: var(--color-light);
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.75rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

h4 {
  font-size: 1.25rem;
  font-weight: 700;
}

h5 {
  font-size: 1rem;
  font-weight: 700;
}

h6 {
  font-size: 0.875rem;
  font-weight: 700;
}

p {
  font-size: 0.875rem;
  font-weight: 400;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}